body {
    height: 100vh;
    background-color: #3B493E;
}

#but-aut
{
    margin-top: auto;
    font-family: 'Unbounded';
    color: #14A64C;
    font-weight: 500;
    font-size: 32px;
    background-color: #3B493E;
}

#list1 {
    height: 50px;
    display: block;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

#list1 li{
    float: left;
    height: 50px;
    margin-right: 30px;
}

ul{
    list-style-type: none;
}

#li1 {
    border-radius: 8px;
    padding-top: 8px;
}