{% extends "base.html" %}

{% block content %}
<div id="banner-events">
    <div id="banner-text-1">Ивенты</div>
    <div id="banner-text-2">Сайт по культуре Великой России</div>
</div>
<h2 id="ah2">События в России</h2>
<div id="ev1">
    <div id="leftev">
        <img src="../static/img/ev1.jpg" alt="">
    </div>
    <div id="rightev">
    <h3>ЛИПЕЦКАЯ ОБЛАСТЬ</h3>
    <p>Китайский Новый год в Археологическом парке «Аргамач».
14 февраля, 12:00, Территория Юрт-отеля археологического парка «Аргамач», с. Аргамач-Пальна.
Гостей ждёт насыщенная фестивальная программа: театрализованные постановки, танцы и музыка, традиционные игры, конкурсы для детей и взрослых, костюмированное шествие и зрелищные шоу.
</p>
<a href="https://park48.ru/sobytiya/kitayskiy-novyy-god/"><button>Перейти на сайт</button></a>
    </p>
</div>
</div>
<div id="ev2">
    <div id="leftev">
        <img src="../static/img/ev2.jpg" alt="">
    </div>
    <div id="rightev">
    <h3>САРАТОВСКАЯ ОБЛАСТЬ</h3>
    <p>К Году единства народов России оформлена первая экспозиция стенда «Наш общий дом – Россия». 
Первая экспозиция выставки-стенда знакомит читателей с Дальним Востоком. «Настоящий край земли русской», – так называли его переселенцы XIX века. Коренные народности Дальнего Востока – нанайцы, ульчи, коряки, ительмены и др., как и столетия назад, занимаются охотой, рыболовством, оленеводством, собирательством и бережно поддерживают национальные традиции своих предков.
</p>
<a href="https://www.sgu.ru/struktura/znbsgu/news/2026/k-godu-edinstva-narodov-rossii-oformlena-pervaya-ekspoziciya-stenda-nash-obschiy-dom-rossiya"><button>Перейти на сайт</button></a>
    </p>
</div>
</div>
<div id="ev1">
    <div id="leftev">
        <img src="../static/img/ev3.jpg" alt="">
    </div>
    <div id="rightev">
    <h3>ЧЕЛЯБИНСКАЯ ОБЛАСТЬ</h3>
    <p>МКУК ДК «Октябрь» — муниципальное казённое учреждение культуры, которое занимается организацией культурно-досуговой деятельности.

Некоторые запланированные мероприятия:
фестивали народных культур, выставки, концерты, театральные проекты;
научные и общественные форумы, посвящённые вопросам межнациональных отношений;
</p>
<a href="https://dkokt2012.nubex.ru/53555/"><button>Перейти на сайт</button></a>
    </p>
</div>
</div>
<div id="ev3">
    <div id="leftev">
        <img src="../static/img/ev4.jpg" alt="">
    </div>
    <div id="rightev">
    <h3>СВЕРДЛОВСКАЯ ОБЛАСТЬ</h3>
    <p>План основных мероприятий государственного бюджетного учреждения культуры Свердловской области «Свердловская областная специальная библиотека для незрячих и слабовидящих имени Д.Н. Мамина-Сибиряка»
</p>
<a href="https://sosbs.ru/life/plany/God-narodnogo-edinstva-2026.php"><button>Перейти на сайт</button></a>
    </p>
</div>
</div>
<div id="ev4">
    <div id="leftev">
        <img src="../static/img/ev5.jpg" alt="">
    </div>
    <div id="rightev">
    <h3>ТОМСКАЯ ОБЛАСТЬ</h3>
    <p>Томская областная детско-юношеская библиотека организует цикл мероприятий, направленных на продвижение знаний об истории и культуре народов России, сохранение их наследия и самобытности. Читатели библиотеки смогут принять участие в познавательных программах, мастер-классах, акциях, конкурсах, познакомиться с книжно-иллюстративными и творческими выставками. Все мероприятия объединены единой тематикой Года единства народов России. 
Конкурсы, фестивали, акции и др.
</p>
<a href="https://park48.ru/sobytiya/kitayskiy-novyy-god/"><button>Перейти на сайт</button></a>
    </p>
</div>
</div>
<div id="gorim">
    <p>Появятся новые праздники: </p>
    <p>День коренных малочисленных народов России — 30 апреля.
Этот праздник призван подчеркнуть важность сохранения традиций коренных малочисленных народов: их исконных промыслов, образа жизни и культурной уникальности.</p>
    <p>День языков народов России — 8 сентября
Учреждение этого праздника, прямой ответ на необходимость поддержки лингвистического богатства России, где звучат более 150 языков. Его цель — повысить статус каждого языка, поощрить его изучение и подчеркнуть его роль в культурном коде нации.</p>

</div>
<div style="height: 0.4vh; background-color: #FFFFFF; width: 99.2vw; margin-top: 0.8vh;"></div>
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}