{% extends "base.html" %}

{% block content %}
<div id="banner-events">
    <div id="banner-text-1">Ивенты</div>
    <div id="banner-text-2">Сайт по культуре Великой России</div>
</div>
{% for i in events %}
<h2 id="ah2">{{i.title}}</h2>
<div id="ev1">
    <div id="leftev">
        {% if i.image %}
        <img src="{{i.image}}" alt="../static/img/ev1.jpg">
        {% else %}
        <img src="../static/img/ev1.jpg">
        {% endif %}
    </div>
    <div id="rightev">
    <h3>{{i.place}}</h3>
    <p>{{i.description}}</p>
<a href="{{i.url}}"><button>Перейти на сайт</button></a>
    </p>
</div>
</div>
{% endfor %}
<div style="height: 0.4vh; background-color: #FFFFFF; width: 99.2vw; margin-top: 0.8vh;"></div>
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}