{% extends "base.html" %}

{% block content %}
<div id="banner-facts">
    <div id="banner-text-1">Интересные факты</div>
    <div id="banner-text-2">Сайт по культуре Великой России</div>
</div>
<div id="f1">
    <div id="left">
        <h2>Кареки</h2>
        <p></p>
    <p>Самый малочисленный народ - Кареки. осталось всего четыре человека, причем
только двое из них знают свою родной
язык. Кереки живут на Крайнем Севере.
Внешне они очень похожи на чукчей, но их
отличает низкий рост — всего 140-150
сантиметров. Когда-то кереки были
крупным народом, но из-за постоянных
набегов чукчей и коряков они почти
исчезли</p>
    </div>
    <div id="right">
        <img src="../static/img/kar.jpg" alt="">
    </div>
</div>
<div id="f2">
    <div id="right">
        <h2>Родной язык</h2>
        <p></p>
    <p>
Русский язык является родным для 168
миллионов человек,
для 111 миллионов - вторым языком
</p>
    </div>
    <div id="left">
        <img src="../static/img/lang.jpg" alt="">
    </div>
</div>
<div id="f1">
    <div id="left">
        <h2>Традиция «Хороводного Пения»</h2>
        <p></p>
    <p>
В деревне Пожарище в Вологодской области сохранилась уникальная традиция круговых. Их особенность в том, что они исполняются многоголосьем, при этом голоса движутся по кругу.  Эта традиция, уходящая корнями в глубокую древность, в 2021 году была включена в Репрезентативный список нематериального культурного наследия человечества ЮНЕСКО.
</p>
    </div>
    <div id="right">
        <img src="../static/img/hor.jpg" alt="">
    </div>
</div>
<div id="f2">
    <div id="right">
        <h2>Почти исчезнувший язык</h2>
        <p></p>
    <p>
Ительменский язык (камчадальский) — язык коренного народа Камчатки. 
К началу XXI века на нём свободно говорили лишь около 80 пожилых человек. Для его сохранения энтузиасты и учёные используют современные технологии: созданы мобильные приложения.
</p>
    </div>
    <div id="left">
        <img src="../static/img/ll.jpg" alt="">
    </div>
</div>
<div style="height: 4px; background-color: #FFFFFF; width: 99.2vw;"></div>
<footer id="next">
    <a href="/"><button>Домой</button></a>
</footer>
{% endblock %}