{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title">№</td>
            <td class="title">Фамилия и имя</td>
            <td class="title">Очки</td>
        </tr>

        {% for el in a %}
        <tr class="my_row">
            <td class="ordinary">{{ loop.index }}</td>
            <td class="ordinary">{{ el[1] }}</td>
            <td class="ordinary">{{ el[0] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}