{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div id="table_container">
    <img src="../static/img/cup.png" alt="">
    <h1>{{ b }}</h1>
    <table id="my_table">
        <tr id="my_row" >
            <td class="title">№</td>
            <td class="title">Фамилия и имя</td>
            <td class="title">Очки</td>
        </tr>
        {% for el in a %}
        <tr id="my_row" >
            <td >{{ loop.index + 1 }}</td>
            <td >{{ el[1] }}</td>
            <td >{{ el[0] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}