{% extends "base.html" %}

{% block content %}
<div id="banner-monuments">
    <div id="banner-text-1">Культурные сооружения</div>
    <div id="banner-text-2">Сайт по культуре Великой России</div>
</div>
<div id="red-sq">
    <div id="lef">
    <img src="../static/img/kreml.jpg" alt=""></div>
    <div id="right"><h2>Красная площадь и Московский Кремль</h2>
    <p id="para">Описание: Исторический, политический и духовный центр Москвы. Это крепость с
комплексом соборов, дворцов, музеев и государственных резиденций, обнесенная знаменитыми кирпичными стенами и башнями. Символ российской государственности.</p></div>
</div>
<div id="rodina-matb">
    <div id="lef">
    <img src="../static/img/rodina.jpg" alt=""></div>
    <div id="right"><h2>Родина-мать зовёт!</h2>
    <p id="para">Описание: Гигантская скульптура, центральная часть мемориального комплекса «Героям Сталинградской битвы» на Мамаевом кургане. 

Одна из самых высоких статуй в мире, символизирующая мать-Отчизну, призывающую своих сыновей на борьбу с врагом.
</p></div>
</div>
<div id="red-sq">
    <div id="lef">
    <img src="../static/img/kazan.jpg" alt=""></div>
    <div id="right"><h2>Казанский кремль</h2>
    <p id="para">Описание: Историческая крепость и сердце Казани, сочетающая в своем облике русские и татарские культурные традиции. 

На его территории расположена белоснежная мечеть Кул-Шариф, падающая башня Сююмбике, православный Благовещенский собор и резиденция президента Татарстана.</p></div>
</div>
<div id="rodina-matb">
    <div id="lef">
    <img src="../static/img/piter.jpg" alt=""></div>
    <div id="right"><h2>Эрмитаж</h2>
    <p id="para">Описание: Один из крупнейших и самых значительных художественных и культурно-исторических музеев мира. 

Основная экспозиция занимает комплекс зданий на Дворцовой набережной Санкт-Петербурга, главным из которых является Зимний дворец — бывшая резиденция русских императоров.
</p></div>
</div>
<div id="red-sq">
    <div id="lef">
    <img src="../static/img/vasya.jpg" alt=""></div>
    <div id="right"><h2>Храм Василия Блаженного</h2>
    <p id="para">Описание: Ярчайший архитектурный памятник русского зодчества XVI века. Известен своими уникальными разноцветными луковичными главами, ни одна из которых не повторяет другую. Был построен в честь победы над Казанским ханством.
</p></div>
</div>
<div style="height: 4px; background-color: #FFFFFF; width: 99.2vw;"></div>
<footer id="next">
    <a href="/"><button>На главную</button></a>
</footer>
{% endblock %}