{% extends "base.html" %}

{% block content %}
<div id="banner-narodi1">
    <div id="banner-text-1">Народы</div>
    <div id="banner-text-2">Сайт по культуре Великой России</div>
</div>
<div id="russkie">
    <div id="left">
        <h2>Русские</h2>
        <img id="image" src="../static/img/russ.jpg" alt="">
    </div>
    <div id="right">
    <p id="para1">Описание:
Государствообразующий народ России, самый многочисленный.</p>
<p id="para">Традиции: Широкое празднование Масленицы, Пасхи, Рождества. Гостеприимство, традиция встречать хлебом-солью. Народный фольклор: хороводы, частушки, былины.</p>
<p id="para">Особенности культуры: Классическая литература и балет мирового уровня. Яркая народная архитектура (деревянные терема, церкви). Традиционный костюм: сарафан и кокошник у женщин, косоворотка у мужчин.</p>
    </div>
</div>
<div id="udmurti">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">Удмурты</h2>
        <img id="image" src="../static/img/udm.jpg" alt="">
    </div>
    <div id="right">
    <p id="para1">Описание: 
Финно-угорский народ, проживающий в Удмуртской области.</p>

<p id="para">Традиции: Моления в священных рощах. Праздник «Гербер». Ритуальная выпечка (перепечи, табани).</p>

<p id="para">Особенности культуры: Женский костюм — одно из самых ярких явлений: белое платье с вышивкой, передник, съемный нагрудник (кабачи), головной убор айшон с покрывалом.</p>
    </div>
</div>
<div id="bashrc">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">Башкиры</h2>
        <img id="image" src="../static/img/bash.jpg" alt="">
    </div>
    <div id="right">
    <p id="para1">Описание: 
Тюркский народ, проживающий преимущественно в Республике Башкортостан. Исторически - кочевники-скотоводы.</p>

<p id="para">Традиции: Праздник «Сабантуй  с борьбой куреш, скачками, играми.</p>  

<p id="para">Особености культуры: Искусство горлового пения (узляу). Национальный инструмент — курай (степная флейта). </p>
    </div>
</div>
<div id="komi2">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">Коми</h2>
        <img id="image" src="../static/img/komi.jpg" alt="">
    </div>
    <div id="right">
    <p id="para1">Описание: 
Финно-угорский народ, коренное население Республики Коми.</p>

<p id="para">Традиции: Охота, рыболовство, оленеводство. Праздник «Гажа валяй. Почитание духов-хозяев леса (Вӧрса) и воды (Васа).</p>

<p id="para">Особенности культуры: Уникальный геометрический орнамент в виде звезд и крестов. Расписные прялки и деревянная утварь.</p>
    </div>
</div>
<div id="yakuti">
    <div id="left">
        <h2 style="font-size: 6.93vh; padding-top: 10vh;">Якуты</h2>
        <img id="image" src="../static/img/yakuti.jpg" alt="">
    </div>
    <div id="right">
    <p id="para1">Описание: 
 Тюркский народ, коренное население Республики Саха. Самый многочисленный из коренных народов Сибири.</p>

<p id="para">Традиции: Праздник «Ысыах» - встречь лета с хороводом, обрядами, связанными с плодородием.</p>

<p id="para">Особенности культуры:  Уникальное эпическое искусство - «Олонхо» (признано шедевром ЮНЕСКО). Резьба по мамонтовой кости.</p>
    </div>
</div>
<div style="height: 0.4vh; background-color: #FFFFFF; width: 99.2vw; margin-top: 0.8vh;"></div>
<footer id="next">
    <a href="nations2"><button>Смотреть Дальше</button></a>
</footer>
{% endblock %}