{% extends "base.html" %}

{% block content %}
<div id="banner-narodi2">
    <div id="banner-text-1">Народы</div>
    <div id="banner-text-2">Сайт по культуре Великой России</div>
</div>
<div id="russkie">
    <div id="left">
        <h2>Тувинцы</h2>
        <img id="image" src="../static/img/tuwi.jpg" alt="">
    </div>
    <div id="right">
    <p id="para">Описание:
Тюркский народ, коренное население Республики Тыва.  

Традиции: Шаманизм и буддизм гармонично сосуществуют. Праздник «Наадым» (праздник животноводов) с борьбой хуреш, скачками, стрельбой из лука.

Особенности культуры: Всемирно известное горловое пение (хоомей). Национальные инструменты:
 игил, бызанчи. Юрта как традиционное жилище</p>
    </div>
</div>
<div id="udmurti">
    <div id="left">
        <h2 style="font-size: 64px; padding-top: 100px;">Ханты</h2>
        <img id="image" src="../static/img/hunti.jpg" alt="">
    </div>
    <div id="right">
    <p id="para">Описание: 
Финно-угорский народ, коренное население Ханты-Мансийского АО. 

Традиции: Почитание священных мест и родовых идолов. Медвежьи праздники с исполнением специальных песен и танцев.

Особенности культуры: Малая скульптура из дерева, изображающая духов. Орнамент, имитирующий следы зверей и птиц. Традиционная одежда из меха и сукна.</p>
    </div>
</div>
<div id="bashrc">
    <div id="left">
        <h2 style="font-size: 64px; padding-top: 100px;">Нанайцы</h2>
        <img id="image" src="../static/img/nan.jpg" alt="">
    </div>
    <div id="right">
    <p id="para">Описание: 
Тунгусо-маньчжурский народ, проживающий в Хабаровском крае по берегам Амура. 

Традиции: Вера в духов — хозяев тайги, воды, огня. Шаманизм. Ритуалы, связанные с добычей первой рыбы.

Особенности культуры: Знаменитый 
орнамент «амурская спираль» на одежде из рыбьей кожи и меха. Умение выделывать рыбью кожу для пошива одежды и обуви. </p>
    </div>
</div>
<div id="komi2">
    <div id="left">
        <h2 style="font-size: 64px; padding-top: 100px;">Чукчи</h2>
        <img id="image" src="../static/img/chuk.jpg" alt="">
    </div>
    <div id="right">
    <p id="para">Описание: 
Коренной народ Чукотки, занимающийся оленеводством и морским зверобойным промыслом.

Традиции: Жесткое разделение на «своих» и «чужих». Обряды, связанные с добычей кита (дележ мяса по строгим правилам). 

Особенности культуры: Жилище  яранга (переносной шатер из шкур). Резьба и гравировка по моржовой кости. </p>
    </div>
</div>
<div id="yakuti">
    <div id="left">
        <h2 style="font-size: 64px; padding-top: 100px;">Ненцы</h2>
        <img id="image" src="../static/img/nen.jpg" alt="">
    </div>
    <div id="right">
    <p id="para">Описание: 
Крупнейшие в мире оленеводы-кочевники (перегоняют стада на тысячи км).

Традиции: Кочевой образ жизни. Почитание духов природы и предков. Священные сани и шесты с личинами.

Особенности культуры: Чум - коническое жилище из шестов и оленьих шкур.  Украшения из меди и бисера. Песенный фольклор и эпические сказания.</p>
    </div>
</div>
<div style="height: 4px; background-color: #FFFFFF; width: 99.2vw;"></div>
<footer id="next">
    <a href="/"><button>Домой</button></a>
</footer>
{% endblock %}